<ion-content class="background" scroll="true">
        <ion-grid class="ion-no-margin ion-no-padding justify-content-center">
            <ion-row class="ion-no-margin ion-no-padding">
              <ion-col class="ion-no-margin ion-no-padding" size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-xl="4" offset-xl="4">
                <ion-text>
                <h2 style="text-align: center;"><strong>How To Use</strong></h2>
                <p>On the main conjugator page, there are a few categories to choose from for your conjugation (e.g. verb, subject, etc.).</p>
                <p><strong>In order to choose an option from these categories, click the <ion-icon name="search-circle-sharp" size="large"></ion-icon> icon.&nbsp;</strong></p>
                <p>Please note two important things:</p>
                <ol>
                <li>You have to choose from the categories <strong>in the order</strong> that they are in. This is to make sure you do not choose options that cannot go together.
                <ul>
                <li>For example, it does not make sense to choose "I sleep you" because "sleep" does not act on anyone or anything.</li>
                </ul>
                </li>
            <br>
                <li>To help make sure you do not choose options that do not go together, some of the options will be&nbsp;<strong>disabled</strong> and the icon will look more greyed out, like this <ion-icon class="disabled" name="search-circle-sharp" size="large"></ion-icon>. Once you choose from the options above, these will become clickable again and you can choose the next option.</li>
                </ol>
                <p>Once you have chosen an option from each cateogry, click the "conjugate" button at the bottom.&nbsp;</p>
                <p>If you make a mistake or want to conjugate another verb, click the "reset" button at the bottom.</p>
                <p><strong>In order to get more information on each category, click the <ion-icon name="help-circle-sharp" size="large"></ion-icon> icon.</strong></p>
                <p style="text-align: center;">&nbsp;</p>
            </ion-text>
                
              </ion-col>
            </ion-row>
            <ion-row></ion-row>

        <ion-row>
            



            
            <img class="logo" src="../../assets/icon/favicon.png">
        </ion-row>

        </ion-grid>

</ion-content>
