<meta charset="UTF-8">
<ion-header color="verb">
  <ion-toolbar color="verb">
    <ion-title class="ion-no-padding" text-center>Verbs</ion-title>
    
  </ion-toolbar>
  <ion-searchbar (keyup) = getResults($event) autocapitalize="none" show-cancel="true" class="ion-no-padding" color="white"></ion-searchbar>
</ion-header>

<ion-content>

  <ion-list class="body" color="white" lines="inset">
    <ion-item button (click)=selectVerb(verb) class="entry" color="white" *ngFor='let verb of matches' detail="false" [class.active-item] = "selectedVerbID === verb.id">
      <div class="left">
        <img class="icon" src={{chooseImage(verb.type)}} width="30px" height = "30px"> 
        <ion-label color="{{verb.type}}">{{chooseVerbType(verb.type)}}</ion-label>
      </div>
      <div class=right>
        <ion-label class="ion-text-wrap" color="{{verb.type}}">{{verb.translation | titlecase}}</ion-label>  
        <ion-label class="verb" color="{{verb.type}}">{{verb.base}}</ion-label>
      </div>
      <img class="checkmark" src="../../assets/greencheckmark.png">
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="footer" color="background">
  <ion-button class="cancel" (click)="closeModal()" color="#3c75bf" fill="outline">Cancel</ion-button>
  <ion-button class="select" (click)="closeModalWithData()" color="white" disabled="{{isDisabled}}">Select</ion-button>
</ion-footer>

