// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  // --ion-font-family: 

  --ion-color-background: #E0F0F5;
  --ion-color-background-rgb: 224,240,245;
  --ion-color-background-contrast: #000000;
  --ion-color-background-contrast-rgb: 0,0,0;
  --ion-color-background-shade: #c5d3d8;
  --ion-color-background-tint: #e3f2f6;

  
  --ion-color-subject: #CEA8F0;
  --ion-color-subject-rgb: 206,168,240;
  --ion-color-subject-contrast: #000000;
  --ion-color-subject-contrast-rgb: 0,0,0;
  --ion-color-subject-shade: #b594d3;
  --ion-color-subject-tint: #d3b1f2;

  --ion-color-option: #F291D4;
  --ion-color-option-rgb: 242,145,212;
  --ion-color-option-contrast: #000000;
  --ion-color-option-contrast-rgb: 0,0,0;
  --ion-color-option-shade: #d580bb;
  --ion-color-option-tint: #f39cd8;

  --ion-color-verb: #A8A8F0;
  --ion-color-verb-rgb: 168,168,240;
  --ion-color-verb-contrast: #000000;
  --ion-color-verb-contrast-rgb: 0,0,0;
  --ion-color-verb-shade: #9494d3;
  --ion-color-verb-tint: #b1b1f2;

  
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

.ion-color-verb {
  --ion-color-base: var(--ion-color-verb);
  --ion-color-base-rgb: var(--ion-color-verb-rgb);
  --ion-color-contrast: var(--ion-color-verb-contrast);
  --ion-color-contrast-rgb: var(--ion-color-verb-contrast-rgb);
  --ion-color-shade: var(--ion-color-verb-shade);
  --ion-color-tint: var(--ion-color-verb-tint);
}

.ion-color-subject {
  --ion-color-base: var(--ion-color-subject);
  --ion-color-base-rgb: var(--ion-color-subject-rgb);
  --ion-color-contrast: var(--ion-color-subject-contrast);
  --ion-color-contrast-rgb: var(--ion-color-subject-contrast-rgb);
  --ion-color-shade: var(--ion-color-subject-shade);
  --ion-color-tint: var(--ion-color-subject-tint);
}

.ion-color-background {
  --ion-color-base: var(--ion-color-background);
  --ion-color-base-rgb: var(--ion-color-background-rgb);
  --ion-color-contrast: var(--ion-color-background-contrast);
  --ion-color-contrast-rgb: var(--ion-color-background-contrast-rgb);
  --ion-color-shade: var(--ion-color-background-shade);
  --ion-color-tint: var(--ion-color-background-tint);
}

.ion-color-option {
  --ion-color-base: var(--ion-color-option);
  --ion-color-base-rgb: var(--ion-color-option-rgb);
  --ion-color-contrast: var(--ion-color-option-contrast);
  --ion-color-contrast-rgb: var(--ion-color-option-contrast-rgb);
  --ion-color-shade: var(--ion-color-option-shade);
  --ion-color-tint: var(--ion-color-option-tint);
}