.result {
  color: white;
  font: bold 70px Century Gothic, Arial;
  text-shadow: 0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black,0 0 2px black;
  font-size: 250%;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 40%;
  padding-top: 5%;
  margin:0%;
}

ion-item{
  --inner-padding-end: 0px;
  --padding-start:0px;
}

.selected{
  padding: 0px 15px !important;
}

.title {
  font-size: 22px;
  width: 50%;
  color: white !important;
}

.tooltip{
  color: white !important;
}

ion-label{
  font-size: 16pt !important;
  font-family: Helvetica;
  letter-spacing: 0.03em;
  color: white !important;
  padding-left:5%;
  width: 20px !important;
}

ion-label.english{
  font-weight:bold;
}

ion-label.ling{
  font-style: italic;
  float: left;
}

ion-item.child{
  --margin-start: 0 !important;
  filter: brightness(90%);
  display:block;
}

.icon {
  padding: 0px !important;
  width: 20px !important;
  height: 20px !important;
}

ion-card-content{
  padding: 15px 15px 0px 15px !important;
}

ion-card{
  margin: 8px 8px;
}

ion-button{
  height: 80px;
  width: 160px;
  font-weight: bold;
  font-size: 16px;
}

.error{
  color: red;
  padding-top: 5%;
  padding-bottom: 30%;
  font-size: 16pt;
}
