<ion-content color="background">

  <ion-grid class="ion-no-margin ion-no-padding justify-content-center">
    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col class="ion-no-margin ion-no-padding ion-text-center" size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-xl="4" offset-xl="4">

        <ion-card [ngSwitch]="true" *ngFor="let item of service.information; let i = index;" color="{{item.name}}" lines="none" detail="false" no-padding>
          <div *ngSwitchDefault>
          <ion-card-content>
            <ion-item color="{{item.name}}" lines="none">
              <ion-card-title class="title">{{item.name | titlecase}}</ion-card-title>
              <ion-icon (click)="openModalToolTip(item.name)" slot="end" name="help-circle-sharp" size="large"></ion-icon>
            </ion-item>
          </ion-card-content>

          <ion-item color="{{item.name}}" class="selected" disabled="{{item.disabled}}">
            <ion-icon (click)="openModalSearch(item.name, i)" name="search-circle-sharp" size="large"></ion-icon>
            <ion-text [hidden]=true>
              <p>verb0: <strong>{{verb0 | json}}</strong></p>
            </ion-text>
            <ion-label class="chosen">{{selectedOptions[item.name].translation | titlecase}}</ion-label> <ion-label class="chosen_base">{{selectedOptions[item.name].base | titlecase}}</ion-label>
          </ion-item>
          </div>
        </ion-card>
  
        <ion-button (click)=Conjugate()>conjugate</ion-button> <ion-button (click)=reset()>reset</ion-button>
        <p class="error">{{error}}</p>
        <p class="result">{{result}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
