<ion-content color="background">

  <ion-grid class="ion-no-margin ion-no-padding justify-content-center">
    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col class="ion-no-margin ion-no-padding ion-text-center" size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-xl="4" offset-xl="4">

        <ion-card *ngFor="let item of information; let i = index;" color="{{item.name}}" lines="none" detail="false" no-padding>
          <!-- <div *ngSwitchCase="item.cat.length > 10 && item.name != 'verb'"> -->
          <div>
          <ion-card-content id="{{item.name}}">
            <ion-item color="{{item.name}}" lines="none">
              <ion-card-title class="title">{{item.name | titlecase}}</ion-card-title>
              <ion-icon (click)="openModalToolTip(item.name)" slot="end" class ="tooltip" name="help-circle-sharp" size="large"></ion-icon>
            </ion-item>
          </ion-card-content>

          <ion-item color="{{item.name}}" class="selected" disabled="{{item.disabled}}">
            <ion-icon (click)="openModalSearch(item.name, i)" class="tooltip" name="search-circle-sharp" size="large"></ion-icon>
            <ion-label>{{selectedOptions[item.name].translation |titlecase}}</ion-label>
          </ion-item>
          </div>
        </ion-card>
  
        <ion-button (click)=Conjugate()>CONJUGATE</ion-button> <ion-button (click)=reset()>RESET</ion-button>
        <!-- <div *ngIf="show_error"> -->
          <div [hidden] = "!show_error">
          <p class="error" id="error">{{error}}</p>
        </div>
        <!-- <div *ngIf="show_result"> -->
          <div [hidden] = "!show_result">
          <p class="result" id="result">{{result}}</p>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
