<ion-content class="background" scroll="true">
 
        <ion-grid class="ion-no-margin ion-no-padding justify-content-center">
            <ion-row class="ion-no-margin ion-no-padding">
              <ion-col class="ion-no-margin ion-no-padding" size-sm="8" offset-sm="2" size-md="6" offset-md="3" size-xl="4" offset-xl="4">
                <ion-text>
                    <h5>
                        This app was created by
                        the <a href="https://nrc.canada.ca/en/research-development/research-collaboration/programs/canadian-indigenous-languages-technology-project">National Research Council of Canada's Indigenous Language Technology Project.</a>
                    </h5>
                </ion-text>
                
              </ion-col>
            </ion-row>
            <ion-row></ion-row>
            <ion-row>
                <img class="logo" src="../../assets/icon/favicon.png" width="180px" height ="180px">
            </ion-row>
        <ion-row>
            <img class="logo" src="../../assets/nrclogo.jpg" width="180px" height ="120px">
        </ion-row>
        </ion-grid>


</ion-content>
